# Environment Variables Configuration
ENVIRONMENT=development
DEBUG=True

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TRANSACTIONS_TOPIC=transactions
KAFKA_ALERTS_TOPIC=fraud-alerts
KAFKA_GROUP_ID=fraud-detection-group

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=fraud_detection

# ML Paths
DATASET_PATH=data/sample_transactions.csv
MODEL_PATH=models/fraud_model.joblib
MODEL_METADATA_PATH=models/model_metadata.json

# Streaming / Simulation
TRANSACTION_RATE=5.0
FRAUD_SCORE_THRESHOLD=0.50

# API
API_HOST=0.0.0.0
API_PORT=8000
